#Background{

-fx-width: 10;
    -fx-background-color: #73000d;
}
Label{
    -fx-text-fill:white;
}
#Grid{
    /*-fx-background-color: #7f350B;*/
    -fx-text-fill:white;
    -fx-background-image: url("@/../../images/BackgroundWood.jpg");
}
.cardButton{
-fx-background-color: #73000d;}

