#Background{
    -fx-width: 10;
    -fx-background-color: #73000d;
}
Label{
    -fx-text-fill:#d7c1a2;

}
*{
-fx-font-family: "serif";}
#Grid{
    /*-fx-background-color: #7f350B;*/
    -fx-text-fill:white;
    -fx-background-image: url("@/../../images/BackgroundWood.jpg");
}
.cardButton{
    -fx-background-color: #73000d;}
AnchorPane{
    -fx-background-color: #73000d;}

Button{
    -fx-background-color: #d7c1a2;
    -fx-text-fill: #73000d;}


