
#loginPane {
    -fx-width: 10;
}

.list-cell {
    -fx-background-color: transparent;

    /*-fx-control-inner-background: blue ;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 50%);*/
}

.register{
-fx-background-color: blue;
}

#gameViewAnchorPane{
-fx-background-color: #999999;
}
#playerMap{
    -fx-background-color: blue;
}
/*
Label{
-fx-text-alignment: right;
-fx-alignment: right;
-fx-color: red;
-fx-background-color: red;
}

label{
-fx-text-alignment: right;
-fx-alignment: right;
-fx-color: red;
-fx-background-color: red;
}*/
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: transparent;
    -fx-border-color: green;
    -fx-border-width: 3px;
}

.list-cell:filled:hover {
    -fx-border-color: gray;
    -fx-border-width: 3px;
}
TextArea{
-fx-font-size: 12;}


